<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="abc0">
      <h2 data-cy="abc0DetailsHeading"><span jhiTranslate="sampleApp.abc0.detail.title">Abc 0</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ abc0.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.abc0.name">Name</span></dt>
        <dd>
          <span>{{ abc0.name }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.abc0.otherField">Other Field</span></dt>
        <dd>
          <span>{{ abc0.otherField }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/abc-0', abc0.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
