<div>
  <h2 id="page-heading" data-cy="JoinTableHeading">
    <span jhiTranslate="sampleApp.joinTable.home.title">Join Tables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleApp.joinTable.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-join-table"
        [routerLink]="['/join-table/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleApp.joinTable.home.createLabel"> Create a new Join Table </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="joinTables?.length === 0">
    <span jhiTranslate="sampleApp.joinTable.home.notFound">No joinTables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="joinTables && joinTables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sampleApp.joinTable.additionalColumn">Additional Column</span></th>
          <th scope="col"><span jhiTranslate="sampleApp.joinTable.abc">Abc</span></th>
          <th scope="col"><span jhiTranslate="sampleApp.joinTable.xyz">Xyz</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let joinTable of joinTables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/join-table', joinTable.id, 'view']">{{ joinTable.id }}</a>
          </td>
          <td>{{ joinTable.additionalColumn }}</td>
          <td>
            <div *ngIf="joinTable.abc">
              <a [routerLink]="['/abc', joinTable.abc?.id, 'view']">{{ joinTable.abc?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="joinTable.xyz">
              <a [routerLink]="['/xyz', joinTable.xyz?.id, 'view']">{{ joinTable.xyz?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/join-table', joinTable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/join-table', joinTable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(joinTable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
