<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-join-table-abc-xyz-heading"
        data-cy="JoinTableAbcXyzCreateUpdateHeading"
        jhiTranslate="sampleApp.joinTableAbcXyz.home.createOrEditLabel"
      >
        Create or edit a Join Table Abc Xyz
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApp.joinTableAbcXyz.additionalColumn" for="field_additionalColumn"
            >Additional Column</label
          >
          <input
            type="text"
            class="form-control"
            name="additionalColumn"
            id="field_additionalColumn"
            data-cy="additionalColumn"
            formControlName="additionalColumn"
          />
          <div
            *ngIf="
              editForm.get('additionalColumn')!.invalid &&
              (editForm.get('additionalColumn')!.dirty || editForm.get('additionalColumn')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('additionalColumn')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApp.joinTableAbcXyz.abc" for="field_abc">Abc</label>
          <select class="form-control" id="field_abc" data-cy="abc" name="abc" formControlName="abc">
            <option *ngIf="!editForm.get('abc')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="abcOption.id === editForm.get('abc')!.value?.id ? editForm.get('abc')!.value : abcOption"
              *ngFor="let abcOption of abcsSharedCollection; trackBy: trackAbcById"
            >
              {{ abcOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['abc'])!.invalid && (editForm.get(['abc'])!.dirty || editForm.get(['abc'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['abc'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApp.joinTableAbcXyz.xyz" for="field_xyz">Xyz</label>
          <select class="form-control" id="field_xyz" data-cy="xyz" name="xyz" formControlName="xyz">
            <option *ngIf="!editForm.get('xyz')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="xyzOption.id === editForm.get('xyz')!.value?.id ? editForm.get('xyz')!.value : xyzOption"
              *ngFor="let xyzOption of xyzsSharedCollection; trackBy: trackXyzById"
            >
              {{ xyzOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['xyz'])!.invalid && (editForm.get(['xyz'])!.dirty || editForm.get(['xyz'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['xyz'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
