<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="xyz">
      <h2 data-cy="xyzDetailsHeading"><span jhiTranslate="sampleApp.xyz.detail.title">Xyz</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ xyz.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.xyz.uniqueField">Unique Field</span></dt>
        <dd>
          <span>{{ xyz.uniqueField }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.xyz.anotherField">Another Field</span></dt>
        <dd>
          <span>{{ xyz.anotherField }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/xyz', xyz.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
