<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="joinTable">
      <h2 data-cy="joinTableDetailsHeading"><span jhiTranslate="sampleApp.joinTable.detail.title">Join Table</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ joinTable.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.joinTable.additionalColumn">Additional Column</span></dt>
        <dd>
          <span>{{ joinTable.additionalColumn }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApp.joinTable.abc">Abc</span></dt>
        <dd>
          <div *ngIf="joinTable.abc">
            <a [routerLink]="['/abc', joinTable.abc?.id, 'view']">{{ joinTable.abc?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="sampleApp.joinTable.xyz">Xyz</span></dt>
        <dd>
          <div *ngIf="joinTable.xyz">
            <a [routerLink]="['/xyz', joinTable.xyz?.id, 'view']">{{ joinTable.xyz?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/join-table', joinTable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
