<div>
  <h2 id="page-heading" data-cy="Abc0Heading">
    <span jhiTranslate="sampleApp.abc0.home.title">Abc 0 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleApp.abc0.home.refreshListLabel">Liste aktualisieren</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-abc-0"
        [routerLink]="['/abc-0/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleApp.abc0.home.createLabel"> Abc 0 erstellen </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="abc0s?.length === 0">
    <span jhiTranslate="sampleApp.abc0.home.notFound">Keine Abc 0 S gefunden</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="abc0s && abc0s.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="sampleApp.abc0.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="otherField">
            <div class="d-flex">
              <span jhiTranslate="sampleApp.abc0.otherField">Other Field</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abc0 of abc0s; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/abc-0', abc0.id, 'view']">{{ abc0.id }}</a>
          </td>
          <td>{{ abc0.name }}</td>
          <td>{{ abc0.otherField }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/abc-0', abc0.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Details</span>
              </button>

              <button type="submit" [routerLink]="['/abc-0', abc0.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Bearbeiten</span>
              </button>

              <button type="submit" (click)="delete(abc0)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Löschen</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
