<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-xyz-heading" data-cy="XyzCreateUpdateHeading" jhiTranslate="sampleApp.xyz.home.createOrEditLabel">
        Create or edit a Xyz
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApp.xyz.uniqueField" for="field_uniqueField">Unique Field</label>
          <input
            type="text"
            class="form-control"
            name="uniqueField"
            id="field_uniqueField"
            data-cy="uniqueField"
            formControlName="uniqueField"
          />
          <div *ngIf="editForm.get('uniqueField')!.invalid && (editForm.get('uniqueField')!.dirty || editForm.get('uniqueField')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('uniqueField')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApp.xyz.anotherField" for="field_anotherField">Another Field</label>
          <input
            type="text"
            class="form-control"
            name="anotherField"
            id="field_anotherField"
            data-cy="anotherField"
            formControlName="anotherField"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
