<div>
  <h2 id="page-heading" data-cy="Abc22Heading">
    <span jhiTranslate="sampleApp.abc22.home.title">Abc 22 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleApp.abc22.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-abc-22"
        [routerLink]="['/abc-22/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleApp.abc22.home.createLabel"> Create a new Abc 22 </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="abc22s?.length === 0">
    <span jhiTranslate="sampleApp.abc22.home.notFound">No abc22s found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="abc22s && abc22s.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="sampleApp.abc22.name">Name</span></th>
          <th scope="col"><span jhiTranslate="sampleApp.abc22.otherField">Other Field</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let abc22 of abc22s; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/abc-22', abc22.id, 'view']">{{ abc22.id }}</a>
          </td>
          <td>{{ abc22.name }}</td>
          <td>{{ abc22.otherField }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/abc-22', abc22.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/abc-22', abc22.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(abc22)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
